.root {
    font-family: 'Anton', sans-serif;
    height: 100px;
    background-color: black;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 30px;
        text-decoration: none;
        color: #2bfda4;
    }
    .wishlistContainer {
        text-transform: uppercase;
        height: 60px;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2bfda4;
        .wishlistBtn {
            cursor: pointer;
            background: none;
            text-transform: uppercase;
            border: none;
            font-size: 1.2em;
            letter-spacing: 1px;
                font-family: 'Anton', sans-serif;
                color: white;
        }
    }

    .wishlistPopUp {
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 10px;
        z-index: 9000;
        top: 100px;
        right: 4%;
        width: 300px;
        height: fit-content;
        max-height: 400px;
        overflow-y: scroll;
        background-color: white;
        padding: 0 10px 10px 10px;
        .closeBtn {
            cursor: pointer;
            width: 30px;
            height: 30px;
            font-size: 18px;
            text-align: center;
            margin: 10px 0;
            background-color: #2bfda4;
            border: none;
            border-radius: 100%;
        }
        a {
            text-transform: uppercase;
            display: flex;
            color: black;
            font-size: 20px;
        }
    }
}